h1 {
    color: #5426A3;
    text-align: center; 
    font-family: Helvetica
    

    }
h2 {
    text-align: left;
    color: #7938E9
    
}
p {
    font-family: lucida;

}
ul {
    line-height: 40px
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
.important {
    color: #B094E1
}
.unimportant {
    color: blue
}
.conclusion {
    color: magenta
}
.growth {
    background-color:#F9CFC7
}
